/* Navigation-buttons.css */

.dogs {
  color:navy;
  border-radius: 50px;
  border: ridge 3px navy;
  background-color: bisque;
  font-family:initial;
  position: relative;
}

.about_us {
  color: navy;
  border-radius: 50px;
  border: ridge 3px navy;
  background-color: bisque;
  font-family:initial;
  position: relative;
}

.home {
  color:navy;
  border-radius: 50px;
  border: ridge 3px navy;
  background-color: bisque;
  font-family:initial;
}

/* header-footer-nav */

.navigation {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-image: linear-gradient(to bottom right, aqua, navy);
  position: fixed;
  scroll-margin-bottom: 10px;
  margin-top: 190px;
  border-radius: 60px;
  padding: 18px;
  box-shadow: 2px 5px 5px 5px rgba(0,0,0,0.2);
}

.header {
  background-image: linear-gradient(to bottom right, aqua, navy);
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
  position: absolute;
  width: 100%;
  border-radius: 60px;
  font-family:initial;
  color: bisque;
  margin-top: 5px;
  box-shadow: 2px 5px 5px 5px rgba(0,0,0,0.2);
}

.footer {
  background-image: linear-gradient(to bottom right, aqua, navy);
  text-align: start;
  padding-bottom: 20px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  border-radius: 60px;
  font-family:initial;
  color: bisque;
  bottom: 0;
  box-shadow: 2px 5px 5px 5px rgba(0,0,0,0.2);
}

/* Forms Styling */

form {
  padding: 150px;
}

.link {
  text-decoration: none;
  color: yellow;
  margin: 10vh;
  margin-top: 20vh;
  
}

/* Card Styling */

.dog-cards {
  display: flex;
  flex-direction: row;
  padding: 350px;
}

.cards-of-dog {
  padding: 20px;
  box-shadow: 2px 5px 5px 5px rgba(0,0,0,0.2);
}

